{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Django Project made by 이정현(32193469)</title>
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
    </head>
    <style>
        body {
            background-image: linear-gradient(rgba(47, 23, 15, 0.65), rgba(47, 23, 15, 0.65)), url("{% static 'assets/img/citybg.jpg' %}");
            background-attachment: fixed;
            background-position: center;
            background-size: cover;
        }

        .img-fluid {
            max-width: 50% ;
        }
    </style>
    <body>
        <header>
            <h1 class="site-heading text-center text-faded d-none d-lg-block">
                <span class="site-heading-upper text-primary mb-3">My Tech Portfolio made by django</span>
                <span class="site-heading-lower">About me</span>
            </h1>
        </header>
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav">
            <div class="container">
                <a class="navbar-brand text-uppercase fw-bold d-lg-none" href="index.html">Start Bootstrap</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mx-auto">
                        <li class="nav-item px-lg-4"><a class="nav-link text-uppercase" href="index.html">Home</a></li>
                        <li class="nav-item px-lg-4"><a class="nav-link text-uppercase" href="about.html">My Pet</a></li>
                        <li class="nav-item px-lg-4"><a class="nav-link text-uppercase" href="products.html">Potfolio</a></li>
                        <li class="nav-item px-lg-4"><a class="nav-link text-uppercase" href="store.html">Skills</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <section class="page-section about-heading">
            <div class="container">
                <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="{% static 'assets/img/mypet.jpg' %}" alt="..." style="text-align: center; margin: 0 auto;"/>
                <div class="about-heading-content">
                    <div class="row">
                        <div class="col-xl-9 col-lg-10 mx-auto">
                            <div class="bg-faded rounded p-5">
                                <h2 class="section-heading mb-4">
                                    <span class="section-heading-upper">Cute, Smart, Fast</span>
                                    <span class="section-heading-lower">About My pet 'Chiyou'</span>
                                </h2>
                                <p><strong>저는 웰시코기 종이며, 3세의 남자 강아지입니다. 제 생일은 2021년 5월 20일이에요!</strong></p>
                                <p class="mb-0">
                                    산책을 하기를 정말 좋아해서 매일 주인님과 함께 나가서 햇빛을 즐기고 주위를 탐험하며 즐거운 시간을 보내는 것을 좋아해요. 실외 활동이라면 뭐든지 다 좋아하며, 특히 공원에서 다른 강아지들과 뛰어놀면 제일 행복해요.
                                    <br><br>
                                    먹는 것도 저의 취미 중 하나에요. 개껌을 좋아해서 맛있는 개껌을 보면 정말 맛있게 먹는 모습을 볼 수 있을 거예요. 건강한 간식들을 주시면 더욱 기뻐하고 즐거워해요.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <footer class="footer text-faded text-center py-5">            
            <div class="container"><p class="m-0 small">오픈소스SW활용 수업의 Django Project 과제 제출용입니다. <br>본 프로젝트는 MIT License를 사용하여 출처를 밝힌 후 수정 및 재배포가 가능함을 알려드립니다.</p></div>
            <div class="container"><p class="m-0 small"><br>Copyright &copy; 이정현(32193469)</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>
